* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.App {
  display: flex;
}

.form {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  background-color: lightcoral;
}

.form__textarea {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.posts {
  width: 50%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.post {
  height: 100px;
  max-height: 200px;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 5px;

}

.post__heading {}