* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.App {
  display: flex;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
}


.form__btn {
  margin-left: auto;
}

.posts {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.post {
  height: 100px;
  max-height: 200px;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 5px;

}